@page "/play"
@using Jogar.Damas.Domain.Entity;

<button class="btn btn-info" @onclick="NewGame">Novo Jogo</button>

<div id="containerFull">

    @for (int r = row; r >= 1; r--)
    {
        <div class="row line-@(IsPair(r) ? 1 : 2)">
            @for (int c = 1; c <= col; c++)
            {
                @if (IsPair(r) == IsPair(c))
                {
                    BoardHouse house = game.Board.GetHouse(r, c);
                    <div @onclick="()=> MovePawn(house)" style="background-image:url('/img/black-house.jpg');@(house.Available? "opacity: 65%" : "")">
                        @if (!house.Empty)
                        {
                            @if (house.Pawn.CheckerCollor == Jogar.Damas.Domain.Enums.CheckerCollor.BLACK)
                            {
                                <img @onclick="()=> SelectPawn(house)" src="/img/checker-white.png" class="pawn">
                            }
                            else
                            {
                                <img @onclick="()=> SelectPawn(house)" src="/img/checker-black.png" class="pawn">
                            }
                        }
                    </div>

                }
                else
                {
                    <div style="background-image:url('/img/white-house.jpg')"></div>
                }
            }
        </div>
    }
</div>


@code {
    CheckersGame game = new CheckersGame();
    public int row = 0, col = 0;

    private void NewGame()
    {
        row = 8;
        col = 8;

        game.NewMatch(row, col);
    }

    private bool IsPair(int value)
    {
        return value % 2 == 0;
    }

    private void SelectPawn(BoardHouse house)
    {
        game.Board.SelectPanw(house.Pawn);
    }

    private void MovePawn(BoardHouse house)
    {
        game.Board.Move(house);
    }
}
